<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
        referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="/tailwind.config.js">
    <link rel="stylesheet" href="../static/css/tailwind.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="path/to/your/tailwind.css" rel="stylesheet">
    <title>Real Estate | {% block title %} {% endblock %}</title>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#D6D0D0',
                        navbar: '091638'
                    },
                    fontFamily: {
                        open: ["Open Sans", "sans-serif"],
                        merri: ["Merriweather", "sans-serif"]
                    },
                    colors: {
                        primary: "#1C3988",
                        lightbleu: "#F3F3FA",
                        darkbleu: "#091638",
                    },
                }
            }
        },

    </script>
</head>

<body class="">
    <!-- NAVBAR  -->
    <nav class="bg-navbar z-50 relative">
        <section class="bg-blue-900 font-mulish hidden sm:block max-w-8xl mx-auto">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex justify-between h-16">
                    <div class="flex items-center">
                        <div class="flex-shrink-0 flex items-center">
                            <span class="text-xl font-bold text-white font-mulish">Follow Us</span>
                        </div>
                        <div class="flex ml-4 space-x-4 items-center">
                            <a href="#" class="text-white hover:text-gray-300">
                                <i class="fab fa-facebook-f w-5 h-5"></i>
                            </a>
                            <a href="#" class="text-white hover:text-gray-300">
                                <i class="fab fa-twitter w-5 h-5"></i>
                            </a>
                            <a href="#" class="text-white hover:text-gray-300">
                                <i class="fab fa-instagram w-5 h-5"></i>
                            </a>
                            <a href="#" class="text-white hover:text-gray-300">
                                <i class="fab fa-linkedin-in w-5 h-5"></i>
                            </a>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <div class="ml-4 flex items-center text-white">
                            <a href="#" class="text-white hover:text-gray-300">
                                <i class="fas fa-phone w-4 h-4"></i>
                            </a>
                            <a href="tel:+1234567890" class="ml-2 text-white hover:underline text-sm">+121 685
                                886602</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div
                class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 relative py-4 flex justify-between items-center bg-[#F3F3FA]">
                <a class="text-3xl font-bold leading-none cursor-pointer" href="{{ url_for('views.home') }}">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
                </a>
                <div class="lg:hidden">
                    <button class="navbar-burger flex items-center text-blue-600 p-3">
                        <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <title>Mobile menu</title>
                            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                        </svg>
                    </button>
                </div>
                <ul
                    class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:items-center lg:w-auto lg:space-x-6">
                    <li><a class="text-sm text-gray-900 hover:text-gray-500" href="{{ url_for('views.search') }}">Search
                            in offers</a></li>
                    <li class="text-gray-300"></li>
                    <li><a class="text-sm text-gray-900 hover:text-gray-500" href="{{ url_for('views.who') }}">Who We
                            Are</a></li>
                    <li class="text-gray-300"></li>
                    <li><a class="text-sm text-gray-900 hover:text-gray-500 cursor-pointer px-5 py-2" href="#"
                            onclick="toggleSlideover()">Contacts</a></li>
                </ul>

                {% if current_user.is_authenticated %}
                <div class="hidden lg:block relative">
                    <button
                        class="text-white bg-blue-700 hover:bg-blue-800  font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        onclick="toggleDropdown()">
                        Account
                        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4" />
                        </svg>
                    </button>
                    <div id="dropdownMenu"
                        class="hidden absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg py-2 z-20">
                        <a href="/profile/{{ current_user.id }}"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Profile</a>
                        <a href="{{ url_for('auth.log_out') }}"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Log Out</a>
                    </div>
                </div>
                {% else %}
                <div class="hidden lg:block">
                    <a class="hidden lg:inline-block bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-1.5 px-4 rounded-xl"
                        href="{{ url_for('auth.sign_up') }}">Sign Up</a>
                    <a class="hidden lg:inline-block py-2 px-4 bg-blue-800 hover:bg-blue-400 text-white font-bold rounded-xl"
                        href="{{ url_for('auth.login') }}">Login</a>
                </div>
                {% endif %}
            </div>

            <div class="navbar-menu hidden z-50">
                <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25 hidden"></div>
                <nav
                    class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
                    <div class="flex items-center mb-8 justify-between">
                        <a class="text-3xl font-bold leading-none cursor-pointer" href="{{ url_for('views.home') }}">
                            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
                        </a>
                        <button class="navbar-close">
                            <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                        </button>
                    </div>
                    <div>
                        <ul>
                            <li class="mb-1">
                                <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
                                    href="{{ url_for('views.search') }}">Search in offers</a>
                            </li>
                            <li class="mb-1">
                                <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded"
                                    href="{{ url_for('views.who') }}">Who We Are</a>
                            </li>
                            <li class="mb-1">
                                <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600 rounded cursor-pointer px-5 py-2"
                                    href="#" onclick="toggleSlideover()">Contacts</a>
                            </li>
                        </ul>
                    </div>

                    {% if current_user.is_authenticated %}
                    <div class="mt-auto">
                        <div class="pt-6">
                            <a class="block bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 mb-2 text-xs text-center border border-blue-500 hover:border-transparent rounded-xl"
                                href="{{ url_for('auth.log_out') }}">
                                <i class="fas fa-sign-out-alt"></i> Log Out
                            </a>
                        </div>
                    </div>
                    {% else %}
                    <div class="mt-auto">
                        <div class="pt-6">
                            <a class="block bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 mb-2 text-xs text-center border border-blue-500 hover:border-transparent rounded-xl"
                                href="{{ url_for('auth.sign_up') }}">Sign Up</a>
                            <a class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-blue-900 hover:bg-blue-900 rounded-xl"
                                href="{{ url_for('auth.login') }}">Login</a>
                        </div>
                    </div>
                    {% endif %}
                </nav>
            </div>
        </section>
    </nav>




    {% for message in get_flashed_messages() %}
    <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
        role="alert">
        <span class="font-medium">{{ message }}</span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
            <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <path
                    d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
            </svg>
        </span>
    </div>
    {% endfor %}

    {% block body %}
    {% endblock %}

    <footer class="relative text-center bg-blue-900 text-white max-w-8xl mx-auto">
        <div class="px-4 py-4 md:py-14 xl:pt-20 xl:pb-12 flex flex-col items-center">
            <img src="{{ url_for('static', filename='images/logo2.png')}}" class="w-32 h-auto mb-9 xl:mb-9">
            <div class="flex space-x-4 items-center">
                <a href="#" class="text-white hover:text-gray-300">
                    <i class="fab fa-facebook-f w-5 h-5"></i>
                </a>
                <a href="#" class="text-white hover:text-gray-300">
                    <i class="fab fa-twitter w-5 h-5"></i>
                </a>
                <a href="#" class="text-white hover:text-gray-300">
                    <i class="fab fa-instagram w-5 h-5"></i>
                </a>
                <a href="#" class="text-white hover:text-gray-300">
                    <i class="fab fa-linkedin-in w-5 h-5"></i>
                </a>
            </div>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>

</html>